

pre {
  white-space: pre-wrap;
  background: hsl(100,80%,90%);
  padding: 20px;
  margin: 20px 20px 20px 0px;
  font-size: 16px;

}

.yellow {
  background: hsl(55,80%,90%);
  padding: 20px;
  margin: 20px 20px 20px 0px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.redCode {
  white-space: pre-wrap;
  background: hsl(22,80%,90%);
  padding: 20px;
  margin: 20px 20px 20px 0px;
  font-size: 16px;
}
#main-doc {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#navbar {
  grid-column: 1 / 2;
  position: fixed;
  overflow-y: scroll;
  top: 10px;
  bottom: 0;
  width:30%;
}

#documents {
  grid-column: 2 / 3;
}

header {
  font-size: 32px;
  padding: 20px 30px 20px 0px;
  text-decoration: underline;
}

p {
  /*padding-left: 30px;*/
  padding-right: 30px;
  font-size: 21px;
  text-align: justify;
}

.nav-link {
  display: block;
  font-size: 24px;
  text-decoration: none;
  border: 1px solid black;
  margin: 1px;
  padding: 10px;
  padding-left: 20px;
  color: black;
}
